<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ "/" | relative_url }}">
			<img class="avatar" src="{{ site.theme_settings.avatar | relative_url }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ "/" | relative_url }}">{{ site.theme_settings.title | markdownify | strip_html }}</a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}

        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% unless name_page contains page.title %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title | markdownify | strip_html }}
            </a>
        </li>
        {% endunless %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}

        <!-- Auto Generation of SPECIAL pages in the navbar -->
        {% for item in site.theme_settings.special_page %}
          {% if item[1].enabled %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" href="{{ item[0] | relative_url }}">
                    <i class="fas fa-{{ item[1].icon }}" aria-hidden="true"></i>
                </a>
            </li>
          {% endif %}
        {% endfor %}

        <!-- Dark mode toggle -->
        <li class="separator theme-toggle-elem"> | </li>
        <li class="separator theme-toggle-elem"> | </li>
        <li>
            <a class="clear theme-toggle-elem" onclick="modeSwitcher()">
                <i id="theme-toggle" class="fas theme-icon" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    </nav>

    <!-- Dark mode script -->
    <script>
    function changeIconTitle(isDark) {
        let elem = document.getElementById("theme-toggle");
        if (isDark) {
            elem.title = "Toggle Light Mode";
        } else {
            elem.title = "Toggle Dark Mode";
        }
    }

    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    let theme = sessionStorage.getItem('theme');
    if (theme === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
        changeIconTitle(true);
    } else if (theme === "light") {
        document.documentElement.setAttribute('data-theme', 'light');
        changeIconTitle(false);
    } else {
        changeIconTitle(systemInitiatedDark.matches);
    }
    </script>

    <noscript>
        <style type="text/css">
            .theme-toggle-elem {
            display: none !important;
            }
        </style>
    </noscript>

</header>
