<!-- Portfolio Grid Section -->

<div class="portfolio-grid">
    {% for item in site.portfolio reversed %}
    <div class="portfolio-cell">
        <a href="{{ item.url | relative_url }}" class="portfolio-link" data-keyboard="true">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <img src="{{ item.image | relative_url | replace: "/thumb/", "/thumb/hover/" | replace: ".jpg", ".png" }}" class="" alt="">
                </div>
            </div>
            <img src="{{ item.image | relative_url }}" class="" alt="">
        </a>
    </div>
    {% endfor %}
</div>
