.portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;

    .caption {
        margin: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;

		/* ---- Responsive ---- */
		@media (hover: hover) {
			opacity: 0;
			-webkit-transition: all ease .5s;
			-moz-transition: all ease .5s;
			transition: all ease .5s;
		}

        &::before {
            content: ' ';
            display: inline;
            vertical-align: middle;
            height: 100%;
        }

		@media (hover: hover) {
			&:hover {
				opacity: 1;
			}
		}

        .caption-content {
            font-size: 15px;
            color: white;
            text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
            display: inline-block;
            vertical-align: middle;

            @media screen and (max-width: $sm-break) {
                font-size: 7px;
            }
        }
    }
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.portfolio-cell {
  flex: 0 0 33%;
  margin-bottom: 10px;
}

.portfolio-page-left {
    float: left;
    max-width: 81.5%;
    padding-right: 1em;

    blockquote {
        margin: 1em 0;
    }
}

.portfolio-page-right {
    width: 18.5%;
    float: right;
    text-align: right;
    border-left: 2px solid var(--blockquote-border-color);
    padding: 0.75em 1em;
    background-color: $blockquote-color;
    box-shadow: 0 2px 2px $border-color;
}
