// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;


// Padding
$padding-large: 20%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;

// Brand colours
$theme-color: #3D7DEC;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

$brand-color-light: #fff;
$background-color-light: #fff;
$brand-color-dark: #000;
$background-color-dark: #000;

// Other links
$github-color: #6CC644;
$important-color-light: #A50038;
$important-color-dark: #CC2960;
$patreon-color: #f96854;
$paypal-color: #0079C1;

// Typography colours
$text-color-light: #383838;
$text-color-dark: invert($text-color-light);
$link-color: $theme-color; // #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text
$blockquote-color-light: #EEF7FA; // $background-color;
$blockquote-color-dark: #1B3E4A;
$patreon-link-color: $patreon-color;
$paypal-link-color: $paypal-color;

//Search color
$link-shadow: transparentize($link-color, .6); //rgba(26, 188, 156, 0.6);
$text-shadow: #3f3f3f;
$search-color: #999;

// Header colours
$header-link-color-light: #383838;
$header-link-color-dark: #D7D7D7;
$navbar-separator-opacity: 0;

// Feature image for articles
$feature-image-text-color: #FFF;
$feature-image-size: cover; // options include "cover", "contain", "auto"
// Header description box
$header-desc-background-color: $theme-color;
$header-desc-text-color-light: #FFF;
$header-desc-text-color-dark: #D7D7D7;

// Mobile display
$break: 768px;
$sm-break: 450px;


/*  Syntax highlighting  */
// Syntax typography
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;
$font-size-code: 0.75em !default; // ~12px
$border-radius: 4px !default;



// base16 Material Theme
$base00: #263238 !default;  // Default Background
$base01: #2E3C43 !default;  // Lighter Background (Used for status bars)
$base02: #314549 !default;  // Selection Background
$base03: #546E7A !default;  // Comments, Invisibles, Line Highlighting
$base04: #B2CCD6 !default;  // Dark Foreground (Used for status bars)
$base05: #EEFFFF !default;  // Default Foreground, Caret, Delimiters, Operators
$base06: #EEFFFF !default;  // Light Foreground (Not often used)
$base07: #FFFFFF !default;  // Light Background (Not often used)
$base08: #F07178 !default;  // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base09: #F78C6C !default;  // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0a: #FFCB6B !default;  // Classes, Markup Bold, Search Text Background
$base0b: #98C379 !default;  // Strings, Inherited Class, Markup Code, Diff Inserted
$base0c: #89DDFF !default;  // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #82AAFF !default;  // Functions, Methods, Attribute IDs, Headings
$base0e: #C792EA !default;  // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0f: #FF5370 !default;  // Deprecated, Opening/Closing Embedded Language Tags e.g.

// Dark/light mode setup
// TODO: Remove those eventually and only use CSS variables where applicable
// These serve as intermediate variables
$brand-color: var(--brand-color);
$background-color: var(--background-color);
$text-color: var(--text-color);
$header-link-color: var(--header-link-color);
$header-desc-text-color: var(--header-desc-text-color);
$blockquote-color: var(--blockquote-color);
@mixin light-theme {
    --brand-color: #{$brand-color-light};
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --header-link-color: #{$header-link-color-light};
    --header-desc-text-color: #{$header-desc-text-color-light};
    --blockquote-color: #{$blockquote-color-light};

    --github-link-color: #{darken($github-color, 10%)};
    --github-link-hover-color: #{darken(darken($github-color, 10%), 15%)};

    --important-link-color: #{$important-color-light};
    --important-link-hover-color: #{darken($important-color-light, 15%)};

    --forums-link-color: #{$text-color-light};
    --forums-link-hover-color: #{darken($text-color-light, 15%)};

    --footer-text-color: #{lighten($text-color-light, 30%)};
    --blockquote-border-color: #{darken($blockquote-color-light, 20%)};

    --highlighter-rouge-color: rgb(36, 41, 46);
    --highlighter-rouge-bg-color: #{transparentize($base00, 0.85)};

    .theme-icon:before {
        content: "\f186";
    }
}

@mixin dark-theme {
    --brand-color: #{$brand-color-dark};
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
    --header-link-color: #{$header-link-color-dark};
    --header-desc-text-color: #{$header-desc-text-color-dark};
    --blockquote-color: #{$blockquote-color-dark};

    --important-link-color: #{$important-color-dark};
    --important-link-hover-color: #{darken($important-color-dark, 15%)};

    --forums-link-color: #{$text-color-dark};
    --forums-link-hover-color: #{darken($text-color-dark, 15%)};

    --footer-text-color: #{lighten($text-color-dark, 30%)};
    --blockquote-border-color: #{lighten($blockquote-color-dark, 20%)};

    --highlighter-rouge-color: rgb(219, 214, 209);
    --highlighter-rouge-bg-color: #{invert(transparentize($base00, 0.85), 100%)};

    .fa-inverse {
        color: $background-color-dark !important; 
     }

     .theme-icon:before {
        content: "\f185";
    }
}

html[data-theme="light"] {
    @include light-theme;
}

html[data-theme="dark"] {
    @include dark-theme;
}

html {
    @extend html, [data-theme="light"];
}

@media (prefers-color-scheme: dark) {
    html {
        @include dark-theme;
    }
} 